.counter {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid #69e5f7;
    padding: 10px;
    border-radius: 5px;
}

.display {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: bold;
    color: #69e5f7;
    width: 300px;
    height: 100px;
    border: 2px solid #69e5f7;
    padding: 10px;
    border-radius: 5px;
}

.input_container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #69e5f7;
    width: 300px;
    height: 100px;
    border: 2px solid #69e5f7;
    padding: 10px;
    border-radius: 5px;
}

.control {
    display: flex;
    justify-content: space-around;
    border: 2px solid #69e5f7;
    padding: 10px;
    border-radius: 5px;
}

.button {
    background: #69e5f7;
    font-size: 1.2em;
    font-weight: bolder;
    color: #292b33;
    padding: 3px 15px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}

.max_value {
    color: red;
}

.input {
    display: flex;
    justify-content: space-between;
}

.active_message {
    font-size: 20px;
}

.error {
    color: red;
    font-size: 20px;
}

